
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">News Manager</li>
        </ol>
      </nav>




      <div class="chart">
          <div class="">
            <div class="card text-center card_border">
              <div class="card-header chart-grid__header">
                News Manager
              </div>
              <div class="card-body">
                <table class="table">
                  <thead>
                            <tr>
                                <th scope="col">Avatar</th>

                                <th scope="col">Title</th>
                                <th scope="col">Content</th>
                                <th scope="col">Price</th>
                                <th></th>
                                <th></th>
                                <th><a class="btn btn-success" routerLink="/admin/news-add">Add</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let pro of new | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize'>
                                <th scope="row"><img style="width: 60px;" class="card-img-top" src="{{ pro.avatar }}"></th>

                                <td>{{ pro.title }}</td>
                                <td>{{ pro.content }}</td>
                                <td>${{ pro.price }}</td>
                                <td><a class="btn btn-info" routerLink="/admin/news-detail/{{ pro.id }}" >Detail</a></td>
                                <td><a class="btn btn-warning " routerLink="/admin/news-edit/{{ pro.id }}" >Edit</a></td>
                                <td><a class="btn btn-danger" (click)="deleteNews(pro.id)">Delete</a></td>
                            </tr>
                        </tbody>
                </table>
                <ngb-pagination
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [collectionSize]="new.length" >
                </ngb-pagination >

              </div>

            </div>
          </div>

      </div>

