<section class="about py-5">
  <div class="container pb-lg-3">
      <h3 class="tittle text-center">New Arrivals</h3>
      <div class="row">

          <div class="col-md-4 product-men" *ngFor="let pro of products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" style="margin-bottom: 1.5rem">
              <div class="product-shoe-info shoe text-center">
                  <div class="men-thumb-item">
                      <img src="{{pro.img}}" class="img-fluid" alt="" style="width: 300px; height: 300px;">
                      <span class="product-new-top">{{pro.desc}}</span>
                  </div>
                  <div class="item-info-product">
                      <h4>
                          <a routerLink="/shop-single/{{ pro.id }}">{{pro.name}}</a>
                      </h4>

                      <div class="product_price">
                          <div class="grid-price">
                              <span class="money">${{pro.price}}</span>
                          </div>
                      </div>
                      <ul class="stars">
                          <li><a href="#"><span class="fas fa-star" aria-hidden="true"></span></a></li>
                          <li><a href="#"><span class="fas fa-star" aria-hidden="true"></span></a></li>
                          <li><a href="#"><span class="fas fa-star-half-alt" aria-hidden="true"></span></a></li>
                          <li><a href="#"><span class="fas fa-star-half-alt" aria-hidden="true"></span></a></li>
                          <li><a href="#"><span class="far fa-star" aria-hidden="true"></span></a></li>
                      </ul>
                  </div>
              </div>
          </div>


      </div>
      <ngb-pagination
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [collectionSize]="products.length">
      </ngb-pagination>

  </div>
</section>

