<div class="front-end-layout">


    <!-- mian-content -->
    <div class="main-banner inner" id="home">
      <!-- header -->
<app-header></app-header>
      <!-- //header -->

  </div>
  <!--//main-content-->
  <!---->
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Contact Us</li>
  </ol>
  <!---->
  <!--// mian-content -->
  <!-- banner -->
  <section class="ab-info-main py-5">
      <div class="container py-3">
          <h3 class="tittle text-center"><span class="sub-tittle">Find Us</span> Contact Us</h3>
          <div class="row contact-main-info mt-5">
              <div class="col-md-6 contact-right-content">
                  <form action="#" method="post">
                      <input type="text" name="Name" placeholder="Name" required="">
                      <input type="email" class="email" name="Email" placeholder="Email" required="">
                      <input type="text" name="Phone no" placeholder="Phone" required="">
                      <textarea name="Message" placeholder="Message" required=""></textarea>
                      <div class="read mt-3">
                          <input type="submit" value="Submit">
                      </div>
                  </form>
              </div>
              <div class="col-md-6 contact-left-content">
                  <div class="address-con">
                      <h4 class="mb-2"><span class="fa fa-phone-square" aria-hidden="true"></span> Phone</h4>
                      <p>+121 098 8907 9987</p>
                      <p>+121 098 8907 9987</p>
                  </div>
                  <div class="address-con my-4">
                      <h4 class="mb-2"><span class="far fa-envelope" aria-hidden="true"></span> Email </h4>
                      <p><a href="mailto:info@example.com">info@example.com</a></p>
                      <p><a href="mailto:info@example.com">info@example.com</a></p>
                  </div>
                  <div class="address-con mb-4">
                      <h4 class="mb-2"><span class="fa fa-fax" aria-hidden="true"></span> Fax</h4>

                      <p>(800) 123-80088</p>
                  </div>
                  <div class="address-con">
                      <h4 class="mb-2"><span class="fa fa-map-marker" aria-hidden="true"></span> Location </h4>

                      <p>Honey Avenue, New York City</p>
                  </div>

              </div>

          </div>
          <div class="map-fo mt-lg-5 mt-4">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14895.720254379743!2d105.74056437235858!3d21.035484153596638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIHRo4buxYyBow6BuaCBGUFQgUG9seXRlY2huaWMgSMOgIE7hu5lp!5e0!3m2!1svi!2s!4v1587474963428!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" allowfullscreen></iframe>
          </div>
      </div>
  </section>


  <!-- //contact -->
  <!-- footer -->
<app-footer></app-footer>
  <!-- //footer -->

</div>
