<div class="front-end-layout">


    <!-- mian-content -->
    <div class="main-banner inner" id="home">
      <!-- header -->
<app-header></app-header>
      <!-- //header -->

  </div>
  <!--//main-content-->
  <!---->
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Blogs</li>
  </ol>
  <!---->
  <!--// mian-content -->
  <!-- banner -->
<app-news-list></app-news-list>
  <!-- //banner -->
  <!-- footer -->
<app-footer></app-footer>
  <!-- //footer -->


</div>
